#wrapper {
    color:#777;
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 18px;
    
}
body {
   background: #777;
   width: 960px;
   padding: 5px;
   margin-right: auto; margin-left: auto; width: 960px
 }
 
 header {
   height: 50px;
   background: #ebebeb;
   text-align: center;
   vertical-align: middle;
   line-height: 50px;       /* the same as your div height */
   margin-top: 5px;
   margin-bottom: 5px;
   padding: 20px;
 }
 
 #nav {
   height: 50px;
   background: #ebebeb;
   text-align: center;
   vertical-align: middle;
   line-height: 50px;       /* the same as your div height */
   margin-top: 10px;
   padding: 20px;
 }
 
 #section {
   height: 200px;
   width: 495px;
   background: #ebebeb;
   text-align: center;
   margin-top: 20px;
   padding: 20px;
 }
 
 #aside {
   height: 200px;
   width: 350px;
   margin-top: -240px;
   margin-left: 570px;
   background: #ebebeb;
   text-align: center;
   padding: 20px;
 }
 
 #footer {
   height: 50px;
   margin-top: 20px;
   background: #ebebeb;
   text-align: center;
   vertical-align: middle;
   line-height: 50px;       /* the same as your div height */
   padding: 20px;
 }
 
 #article {
   height: 175px;
   width: 500px;
   color:#ebebeb;
   text-align: center;
   vertical-align: middle;
   line-height: 48px;       /* the same as your div height */
   font-weight: bold;
   font-size: 18px;
   margin-top: -290px;
   margin-left: 20px;
   background: #777;
 }
 
 #h1 { 
   height: 50px;
   width: 425px;
   margin-top: -130px;
   margin-left: 60px;
   background: #ebebeb;
   text-align: center;
   vertical-align: middle;
   line-height: 50px;       /* the same as your div height */
   font-weight: bold;  
 }
 
 #p { height: 50px;
   width: 425px;
   margin-top: 10px;
   margin-left: 60px;
   background: #ebebeb;
   text-align: center;
   vertical-align: middle;
   line-height: 50px;       /* the same as your div height */
  }
